.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 50vw;
  margin: auto;
}


.App-link {
  color: #61dafb;
}

.color-box {
  width: 100%;
  border: 1px solid #000000;
}

.color-box .box {
  height: 250px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 1rem;
  width: 100%;
}

.buttons button {
  width: 30%;
  height: 40px;
  text-transform: uppercase;
  font-weight: 600;
}

.error {
  color: red;
}

.success {
  color: green;
  font-weight: 600;
}

.results {
  align-self: flex-start;
  text-align: left;
}

.results p {
  margin: 0;
}

.results .correct {
  color: green
}

.results .wrong {
  color: red
}